.meter>.rings {
    
    display: flex;
    flex-direction: row;
    margin-left:40px;
    align-items: center;
    
  }
  .percent1, svg, circle {
    width: 200px;
    height: 200px;
  }
  
circle {
    position: absolute;
    fill: none;
    stroke-width: 10;
    transform: translate(10px, 10px);
    stroke-dasharray: 440;
    stroke-linecap: round;
  }

  circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #424242;
}
  
  .percent1 circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 75) / 100);
    stroke: gold;
    animation: percent 1.5s linear;
    animation-delay: 1s;
  }
 .number {
    margin-top:50px;
    position: relative;
    bottom: 190px;
    right: -50px;
    color: #fff;
  } 
  
  @keyframes percent {
    0% {
      stroke-dashoffset: 0;
      stroke-width: 0;
    }
  }
 